@import "bootstrap/bootstrap"
@import "bootstrap/responsive"

.menu
  position: fixed
  background-color: rgba(255, 255, 255, 0.52)
  width: 100%
  text-align: center
  margin: 0
  li
    display: inline-block
    a
      font-size: 16px
      display: inline-block
      color: #000
      padding: 10px 30px
      margin: 3px 10px
      &:hover
        background-color: rgba(255, 255, 255, 0.43)
        text-decoration: none
      &.active
        background-color: rgb(255, 255, 255)


.body-box
  padding-top: 60px

.tal
  text-align: left

